---

- name: Install dependencies
  package:
    name: "{{ item }}"
    state: installed
  loop:
    - git
    - ruby24-bundler
    - sqlite3

- name: add rubywarden group
  group:
    name: "{{ rw_group }}"
    state: present

- name: add rubywarden user
  user:
    name: "{{ rw_user }}"
    state: present
    home: "{{ rw_home }}"
    group: "{{ rw_group }}"
    append: yes

- name: get rubywarden code
  git:
    repo: "https://github.com/jcs/rubywarden.git"
    dest: "{{ rw_home }}/rw"
    version: "{{ rw_commit }}"

- name: run bundler
  bundler:
    executable: /usr/local/bin/bundle24
    gem_path: "{{ rw_home }}/rb"
    binstub_directory: "{{ rw_home }}/rb/bin"
    chdir: "{{ rw_home }}/rw"
    state: present

- name: make the production db dir
  file:
    path: "{{ rw_home }}/rw/db/production"
    state: directory
    owner: "{{ rw_user }}"
    group: "{{ rw_group }}"
  register: migrate

- name: run db:migrate
  when: migrate.changed
  command: "env RACK_ENV={{ rw_env }} bundle24 exec rake db:migrate"
  args:
    chdir: "{{ rw_home }}/rw"

- name: create rubywarden rc script
  register: rc_status
  template:
    src: rubywarden.j2
    dest: /etc/rc.d/rubywarden
    owner: root
    group: wheel
    mode: 755

- name: enable rubywarden on boot
  service:
    name: rubywarden
    state: started
    enabled: True

- name: restart rubywarden
  when: rc_status.changed
  service:
    name: rubywarden
    state: restarted
