#!/bin/ksh -x

# {{ ansible_managed }}

datadir="{{ rw_src }}"

{% if rw_signups == True %}
env="RUBYWARDEN_ENV={{ rw_env }} ALLOW_SIGNUPS=1 PATH=$PATH:{{ rw_home }}/rb/bin"
{% else %}
env="RUBYWARDEN_ENV={{ rw_env }} PATH=$PATH:{{ rw_home }}/rb/bin"
{% endif %}
daemon="/usr/local/bin/bundle24"
daemon_flags="exec rackup -p {{ rw_port }} config.ru"
daemon_user="{{ rw_user }}"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "cd ~/src && env ${env} ${daemon} ${daemon_flags}"
}

pexp="ruby24 .*rackup -p {{ rw_port }} config.ru"

rc_reload=NO
rc_bg=YES

rc_cmd $1
