#!/bin/ksh

# {{ ansible_managed }}

datadir="{{ rw_src }}"

{% if rw_signups == True %}
env="RUBYWARDEN_ENV={{ rw_env }} ALLOW_SIGNUPS=1 PATH=$PATH:{{ rw_home }}/rb/bin HOME={{ rw_home }}"
{% else %}
env="RUBYWARDEN_ENV={{ rw_env }} PATH=$PATH:{{ rw_home }}/rb/bin HOME={{ rw_home }}"
{% endif %}
{% if ansible_facts['distribution_version'] == "6.4" %}
daemon="/usr/local/bin/bundle24"
{% elif ansible_facts['distribution_version'] == "6.5" %}
daemon="/usr/local/bin/bundle25"
{% endif %}
daemon_flags="exec rackup -p {{ rw_port }} config.ru"
daemon_user="{{ rw_user }}"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "cd {{ rw_home }}/src && env ${env} ${daemon} ${daemon_flags}"
}

{% if ansible_facts['distribution_version'] == "6.4" %}
pexp="ruby24 .*rackup -p {{ rw_port }} config.ru"
{% elif ansible_facts['distribution_version'] == "6.5" %}
pexp="ruby25 .*rackup -p {{ rw_port }} config.ru"
{% endif %}

rc_reload=NO
rc_bg=YES

rc_cmd $1
