#!/bin/ksh

# {{ ansible_managed }}

datadir="{{ rw_home }}/rw"

{% if rw_signups == True %}
env="GEM_HOME={{ rw_home }} RACK_ENV=production ALLOW_SIGNUPS=1 PATH=$PATH:$GEM_HOME/rb/bin"
{% else %}
env="GEM_HOME={{ rw_home }} RACK_ENV=production PATH=$PATH:$GEM_HOME/rb/bin"
{% endif %}
daemon="/usr/local/bin/bundle24 exec rackup -p {{ rw_port }} config.ru"
daemon_user="{{ rw_user }}"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "env ${env} ${daemon}"
}

pexp="ruby24 {{ rw_home }}/rb/bin/rackup -p {{ rw_port }} config.ru"

rc_reload=NO
rc_bg=YES

rc_cmd $1
